/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  Custom Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

body {
        font-family: 'Open Sans', sans-serif;
        background: linear-gradient( #20222f 30%, #1D2029 30%);
        height: 100vh;
}
/* Heading */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}
h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}
p, .toggle {
    color: #8f98b9;
    font-weight: 700;
    line-height: 1.5;
}
.fa-toggle-on {
    /* font-size: 40px;
    color: linear-gradient(#3f96cc, #53c49c); */
    background: -webkit-linear-gradient(45deg, #3f96cc, #53c49c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

/* General */
 .fa-facebook-square, .fa-twitter {
    color: #178ff5;
    font-size: 25px;
}
.fa-instagram {
    font-size: 25px;
}
.fa-youtube-square {
    color: #C4362A;
    border-radius: 50%;
    font-size: 20px;
}
.youtube-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #C4362A;  
    width:25px;
    height: 25px;
    border-radius: 50%;
}
.fa-caret-up {
    color:#45A395;
}
.fa-caret-down {
    color:#bf4b60;
}
/* Main */
.current-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #252b43;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    position: relative;
}
.social-media .top-border {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 5px;
    background-color: #178ff5;
    position: absolute;
    top:0;
    left:0;
}
.social-media .number {
    color:#ffffff;
    font-size: 56px;
    font-weight: 700;
}
.social-media .label {
    text-transform: uppercase;
    color: #8f98b9;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 10px;
}

.social-media .handle {
    margin-left: 5px;
    color: #8f98b9;
    font-size: 12px;
    font-weight: 700;
}
.social-media .head, .social-media .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media .content {
    flex-direction: column;
}
.youtube .top-border {
    background-color: #C4362A;
}

.instagram .top-border {
    background: linear-gradient(to right, #fbbf69, #e35594);
}
.count {
    margin-left: 10px;
    font-weight: 700;
}

/* Code not sure start*/
.insta-background {
    background: -webkit-linear-gradient(45deg, #fbbf69, #e35594);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Code not sure end */

/* Overview Today */
h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #252b43;
    width: 22%;
    height: 120px;
    border-radius: 4px;
}
.head-icon, .number-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.number-change {
    align-items: baseline;
    align-content: flex-end;
}
.content-today {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
}
.head-icon .head {
    font-size: 15px;
    color: #8f98b9;
    font-weight: 700;

}
.number-change .number {
    color:#fff;
    font-weight: 700;
    font-size: 40px;
}